<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylelogin.css') }}">
    <!--BOOTSTRAP LINK-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylenavbar.css') }}">
    <title>Ticket Booking</title>
</head>
<body>
    <div class="signup-form bg-dark">
    <div class="Signup-head bg-warning">
        <h1>Reserve Your Ticket</h1>
    </div>
    <div class="signup-content2">
    <form action="{{ url_for('book_tickets') }}" method='post'>
        
        <label for="start">From:</label>
        <select name="start" class="input bg-dark">
            {% for station in stations %}
            <option value={{station.station_id}}>{{station.station_name}}</option>
            {% endfor %}
        </select>
        <br />
        <label for="end">To:</label>
        <select name="end" class="input bg-dark">
            {% for station in stations %}
            <option value={{station.station_id}}>{{station.station_name}}</option>
            {% endfor %}
        </select>
        <br />
        
        <input type="submit",value="Submit" class="submit-btn bg-warning">
        </div>
    </form>
    </div>
</body>
</html>