<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Booking</title>
</head>
<body>
    <form action="{{ url_for('book_tickets') }}" method='post'>
        <label for="start">From:</label>
        <select name="start">
            {% for station in stations %}
            <option value={{station.station_id}}>{{station.station_name}}</option>
            {% endfor %}
        </select>
        <br />
        <label for="end">To:</label>
        <select name="end">
            {% for station in stations %}
            <option value={{station.station_id}}>{{station.station_name}}</option>
            {% endfor %}
        </select>
        <br />
        <input type="submit",value="Submit">
    </form>
</body>
</html>