<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{{ url_for('static', filename='cancelstyle.css') }}">
    <title>Ticket Cancellation</title>
  </head>
  <body>
    <div class="login-wrapper">
      <form action="{{ url_for('cancel_tickets') }}" method='post' class="form">
        <h2>Cancel Your Ticket</h2>
       <center>
        <div class="input-group">
            {% if tickets%}
            <h3>Currently booked tickets</h3>
        
            <table cellspacing=20px >
                <tr>
                    <th>Ticket Id</th>
                    <th>Train name</th>
                    
                    <th>Boarding Pt</th>
                    <th>Deboarding Pt</th>
                    
                    <th>Seat no.</th>
                    <th>Fare</th>
                    <th>Cancel</th>
            
            
                </tr>
                <form action='{{ url_for('cancel_tickets') }}' method='post'>
                  
                {% for ticket in tickets %}
                
                <tr>
                    <td>{{ticket.ticket_id}}</td>
                    <td>{{ticket.train_name}}</td>
                    <td>{{ticket.b_point}}</td>
                    
                    <td>{{ticket.d_point}}</td>
                    <td>{{ticket.seat_no}}</td>
                    <td>{{ticket.fare}}</td>
                    <td><input type="checkbox" name="check" value="{{ticket.ticket_id}}"></td>
                </tr>
                {% endfor %}
            </table>   
            
        <br />
          </div>
          <br />
          <input type="submit" ,value="Submit" class="submit-btn">
          </center>
          {% else %}
                <p> No tickets booked yet</p>
                {% endif %}
          

      </form>
    
      
      
      </div>
     
    </div>
    
  </body>
</html>