<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>
            Trains List
        </h1>
        {% if trains %}
        <table id="all-students">
            <tr>
                <th>ID</th>
                <th> Name</th>
            </tr>
            {% for train in trains %}
            <tr>
                <td>{{train.train_id}}</td>
                <td>{{train.train_name}}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        No train found.
        {% endif %}
    </div>
</body>
</html>