<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>
            Dashboard
        </h1>
        <p>Welcome</p>
        <form action="/book" method="get">
            <button>Book Tickets</button>
        </form>
        <form action="/cancel" method="get">
            <button>Cancel Tickets</button>
        </form>
        <form action="/profile" method="get">
            <button>Profile</button>
        </form>
        <form action="/logout" method="get">
            <button>Logout</button>
        </form>
    </div>
</body>
</html>