<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <p>Name:{{user.user_name}}</p>
    <p>Email:{{user.email}}</p>
    <p>Mobile:{{user.mob_no}}</p>
    <h3>Currently booked tickets</h3>
    {% if tickets%}
        <table>
            <tr>
                <th>Ticket Id</th>
                <th>Train name</th>
                <th>Name</th>
                <th>Boarding Point</th>
                <th>Deboarding Point</th>
                <th>Seat no.</th>
                <th>Fare</th>
                

            </tr>
            {% for ticket in tickets %}
            <tr>
                <td>{{ticket.ticket_id}}</td>
                <td>{{ticket.train_name}}</td>
                <td>{{ticket.name}}</td>
                <td>{{ticket.b_point}}</td>
                <td>{{ticket.d_point}}</td>
                <td>{{ticket.seat_no}}</td>
                <td>{{ticket.fare}}</td>
                
            </tr>
            {% endfor %}
            <tr>
                <td>Total Travel expense: </td>
                <td> {{tickets|sum(attribute='fare')}}</td>
            </tr>
        </table>
        </br>
        <a href="/cancel">Cancel Train Tickets</a>
        {% else %}
        <p> No tickets booked yet</p>
        <a href="/book">Book Now!</a>
        {% endif %}
    
</br>
    {% if food%}
    <h3>Food Order</h3>
    <table>
        <tr>
            <th>Item</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Station</th>
            <th>Price</th>
        </tr>
        {% for foo in food %}
        <tr>
            <td>{{foo.item}}</td>
            <td>{{foo.category}}</td>
            <td>{{foo.qty}}</td>
            <td>{{foo.station_name}}</td>
            <td>{{foo.price}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>Total Food expense: </td>
            <td>{{food|sum(attribute='price')}}</td>
        </tr>
    </table>
    <a href="/cancel/food">Cancel Food Bookings</a>
    </br>
    {% endif %}
    </br>
    
    </br>
        <a href="/dashboard">Go Home</a>
</body>
</html>