<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styleregister.css') }}" />
    <title>Login Form Demo</title>
  </head>
  <body>
    <div class="login-wrapper">
      <form action="{{ url_for('register') }}" method="post" class="form">
        <h2>Register</h2>
        <div class="input-group">
          <input type="text" name="user_name" id="loginName" required />
          <label for="loginName">Name</label>
        </div>
        <div class="input-group">
            <input type="text" name="email_id" id="loginEmail" required />
            <label for="loginEmail">Email id</label>
          </div>
          <div class="input-group">
            <input type="text" name="Phone_No" id="loginphno" required />
            <label for="loginphno">Phone No</label>
          </div>
          <div class="input-group">
            <input type="text" name="Age" id="loginAge" required />
            <label for="loginAge">Age</label>
          </div>
          <div class="input group">
          <label for="gender">Gender</label>
        
        <select name="Gender" id="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Others">Others</option>
  
        </select></div>
      </br>
        <div class="input-group">
          <input
            type="password"
            name="pass"
            id="loginPassword"
            required
          />
          <label for="loginPassword">Password</label>
        </div>
        <input type="submit" value="Submit" class="submit-btn" />
      </form>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
        <p>{{ message }}
        <p>
          {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    </div>
    
  </body>
</html>
